{{>header}}

<div class="row">
  <div class="col-md-9">
    <h2>Smart education and environment</h2>

    <p>I am a proud co-founder and CTO of the <a href="http://cambridgecoding.com">Cambridge Coding Academy</a>, where we have the ambitious goal of revolutionising Computer Science education: making it smarter, personalised and most importantly - attractive and available to everyone. Because not everyone needs to be a programmer, but everyone does need a bit of Computer Science in their lives today and will need a lot of it tomorrow.</p>

    <p>I am also involved with <a href="http://hubofallthings.org">the HAT</a> project on making the Internet of Things serve you. The Hub of All Things liberates your data from the corporate silos and brings it to you, in your own personal hub where you have complete control over it. My role is to analyse the various data collected by the platform and reshape it into new verticals through data visualisation, to make sense to the users.</p>

    <p>I have recently submitted my PhD dissertation at the Computer Laboratory, University of Cambridge. My PhD was on the Design of Energy-Efficient Mobile Communication Protocols, although I have worked on a wild variety of problems and projects throughout. I was a member of the Networks and Operating Systems group, part of Systems Research Group, working with <a href="http://www.cl.cam.ac.uk/~jac22/">Prof. Jon Crowcroft</a> as my advisor. My PhD was partially sponsored by T-Labs, Germany. I also received my BA in Computer Science from the University of Cambridge in 2011.</p>

    <p>In the past I have worked on sensing user's environment through their mobile devices, by inferring their activities, people surrounding them and emotions (the EmotionSense project).</p>

    <h2>Updates</h2>

    <ul class="publist list-unstyled">
      {{#withFirst updates 20}}
        <li>
          {{#if link}}
            {{date}}: <a href="{{link}}">{{update}}</a>
          {{else}}
            {{date}}: {{update}}
          {{/if}}
        </li>
      {{/withFirst}}
    </ul>
  </div>

  <div class="col-md-3">
    <div class="text-center" style="margin-bottom: 15px">
    <img src="images/foto2.jpg" alt="Profile" class="img-rounded img-responsive">
    </div>
    <ul class="list-unstyled">
      <li>E-Mail: andrius@smart-e.org</li>
      <li>Twitter: <a href="https://twitter.com/AndriusAuc">@AndriusAuc</a></li>
      <li>LinkedIn: <a href="https://uk.linkedin.com/in/andriusaucinas">LinkedIn</a></li>
      <li>GitHub: <a href="https://github.com/andriusa">Github</a></li>
    </ul>

    <address>
      <strong>Computer Laboratory</strong><br />
      University of Cambridge<br />
      15 JJ Thomson Avenue<br />
      Cambridge CB3 0FD, UK<br />
      Phone: +44 (0)1223 763542<br />
      Office: FN14<br />
    </address>

    {{>socialLinks}}
  </div>
</div>

{{>footer}}