1{{>header}}

<div class="row">
  <div class="col-md-12">
    <p>I am a proud co-founder and CTO of the <a href="http://cambridgecoding.com">Cambridge Coding Academy</a>, where we have the ambitious goal of revolutionising Computer Science education: making it smarter, personalised and most importantly - attractive and available to everyone. Because not everyone needs to be a programmer, but everyone does need a bit of Computer Science in their lives today and will need a lot of it tomorrow.</p>

    <p>I am also involved with <a href="http://hubofallthings.org">the HAT</a> project on making the Internet of Things serve you. The Hub of All Things liberates your data from the corporate silos and brings it to you, in your own personal hub where you have complete control over it. My role is to analyse the various data collected by the platform and reshape it into new verticals through data visualisation, to make sense to the users.</p>

    <p>I have recently submitted my PhD dissertation at the Computer Laboratory, University of Cambridge. My PhD was on the Design of Energy-Efficient Mobile Communication Protocols, although I have worked on a wild variety of problems and projects throughout. I was a member of the <a href="http://www.cl.cam.ac.uk/research/srg/netos/">Networks and Operating Systems group, part of Systems Research Group</a>, working with <a href="http://www.cl.cam.ac.uk/~jac22/">Prof. Jon Crowcroft</a> as my advisor. My PhD was partially sponsored by T-Labs, Germany. I also received my BA in Computer Science from the University of Cambridge in 2011.</p>

    <p><a href="/files/resume.pdf">My PDF resume is here</a></p>
  </div>
</div>

<h2>Professional Experience</h2>
{{#each professional}}
  <div class="row job">
    <div class="col-md-3">
      <a href="{{company_url}}">
        <img class="company_img" src="{{image_url}}" alt="{{company}}" width="100%"/>
      </a>
    </div>
    <div class="col-md-9">
      <h4>{{company}}, {{position}}</h4>
      <p><strong>{{date}}</strong></p>
      <p>{{{description}}}</p>
    </div>
  </div>
{{/each}}

{{>footer}}