1{{>header}}

<div class="row">
  <div class="col-md-12">
    <p>I am a co-founder and the Head of Engineering at the <a href="http://hubofallthings.com">Hub of All Things (HAT)</a>. The HAT is a personal data store and a multisided platform technology that allows you to see, control and share your personal data. Originally getting involved in the initial research project I was part of the team that formed a spin-off to bring the idea into "the real life". In the team I lead all engineering work on building the ecosystem, ranging across the full stack, cloud infrastructure, third-party resource integration while maintaining the team's flexibility and agility to adjust to business needs while pushing the boundaries of the most bleeding-edge technologies.</p>

    <p>I consider myself both an entrepreneur and an academic. I have earlier co-founder and was the CTO of <a href="http://cambridgecoding.com">Cambridge Coding Academy</a>, an organisation with the ambitious goal of revolutionising Computer Science education. I helped bootstrap the organisation with no external funding into an operational business that delivers value to customers ranging from secondary school kids to software engineering professionals and organisations in the UK and internationally.</p>

    <p>I completed my PhD at the Computer Laboratory, University of Cambridge in March 2016. My PhD was on the Design of Energy-Efficient Mobile Communication Protocols, although I have worked on a wild variety of problems and projects throughout. I was a member of the Networks and Operating Systems group, part of Systems Research Group, working with <a href="http://www.cl.cam.ac.uk/~jac22/">Prof. Jon Crowcroft</a> as my advisor. My PhD was partially sponsored by T-Labs, Germany. I also received my BA in Computer Science from the University of Cambridge in 2011.</p>
  </div>
</div>

<h2>Professional Experience</h2>
{{#each professional}}
  <div class="row job">
    <div class="col-md-3">
      <a href="{{company_url}}">
        <img class="company_img" src="{{image_url}}" alt="{{company}}" width="100%"/>
      </a>
    </div>
    <div class="col-md-9">
      <h4>{{company}}, {{position}}</h4>
      <p><strong>{{date}}</strong></p>
      <p>{{{description}}}</p>
    </div>
  </div>
{{/each}}

{{>footer}}