{{>header}}

<div class="row">
  <div class="col-md-12">
    <p>I am a PhD student in the Computer Laboratory, University of Cambridge. I also received my BA in Computer Science from the University of Cambridge in 2011. I work with the <a href="http://www.cl.cam.ac.uk/research/srg/netos/">Networks and Operating Systems</a> group, part of <a href="http://www.cl.cam.ac.uk/research/srg/">Systems Research Group</a>, with <a href="http://www.cl.cam.ac.uk/~jac22/">Prof. Jon Crowcroft</a> as my supervisor.</p>

    <p><a href="/files/resume.pdf">My PDF resume is here</a></p>
  </div>
</div>

<h2>Professional Experience</h2>
{{#each professional}}
  <div class="row job">
    <div class="col-md-3">
      <a href="{{company_url}}">
        <img class="company_img" src="{{image_url}}" alt="{{company}}" width="100%"/>
      </a>
    </div>
    <div class="col-md-9">
      <h4>{{company}}, {{position}}</h4>
      <p><strong>{{date}}</strong></p>
      <p>{{{description}}}</p>
    </div>
  </div>
{{/each}}

{{>footer}}